{% for build in builds %}
    {{ build.architecture }}: {{ build.valid|yesno('PASSED,FAILED') }}
    {% if build.compiler is not none %}
        Compiler: {{ build.compiler }}
    {% endif %}
    {% if build.command is not none %}
        Command: {{ build.command }}
    {% endif %}
    {% if build.config_name is not none %}
        Config: {{ build.config_name }}
    {% endif %}
    {% if build.config_url is not none %}
        Config url: {{ build.config_url }}
    {% endif %}
    {% if build.build_log is not none %}
        Build log: {{ build.log_url }}
    {% endif %}

{% endfor %}
