Revision: {{ revision_data.rev.id }}

{% if revision_data.rev.git_repository_url is not none %}
    Kernel repo: {{ revision_data.rev.git_repository_url }}
{% endif %}
{% if revision_data.rev.git_repository_branch is not none %}
    Branch: {{ revision_data.rev.git_repository_branch }}
{% endif %}
{% if revision_data.rev.git_commit_hash is not none %}
    Commit: {{ revision_data.rev.git_commit_hash }}
{% endif %}

    Overall result: {{ revision_data.result|yesno('PASSED,FAILED') }}
             Merge: {{ revision_data.rev.valid|yesno('OK,FAILED') }}
{% if revision_data.builds %}
           Compile: {{ revision_data.builds_fail|yesno('FAILED,OK') }}
{% endif %}
{% if revision_data.tests %}
              Test: {{ revision_data.failed_tests|yesno('FAILED,OK') }}
{% endif %}

{% if revision_data.rev.log_url is not none %}
    Merge log: {{ revision_data.rev.log_url }}
{% endif %}

{% if revision_data.builds_fail %}
    We attempted to compile the kernel for multiple architectures, but the compile
    failed on one or more architectures:
    {% with builds=revision_data.builds_fail %}
        {% include 'partials/builds.j2' %}
    {% endwith %}
{% endif %}
{% if revision_data.failed_tests %}
One or more kernel tests failed:
    {% for build in revision_data.builds %}
        {% set test_data = revision_data.build_test_data[build] %}
        {% if test_data.failed_tests %}
    {{ build.architecture }}:
            {% for test in test_data.failed_tests %}
        {{ test.description }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

Please reply to this email if you have any questions about the tests that we
ran or if you have any suggestions on how to make future tests more effective.

        ,-.   ,-.
       ( C ) ( K )  Continuous
        `-',-.`-'   Kernel
          ( I )     Integration
           `-'
______________________________________________________________________________

{% if revision_data.rev.patch_mboxes %}
    Patches:
    {% for patch in revision_data.rev.patch_mboxes %}
        Name: {{ patch.name }}
        Url: {{ patch.url }}

    {% endfor %}

{% endif %}
{% if revision_data.builds %}
    All builds:
    {% with builds=revision_data.builds %}
        {% include 'partials/builds.j2' %}
    {% endwith %}
{% endif %}
{% if revision_data.tests %}
All tests:
    {% for build in revision_data.builds %}
        {% set test_data = revision_data.build_test_data[build] %}
    {{ build.architecture }}:
        {% for test in test_data.tests %}
            {% if test.status != 'SKIP' %}
        {{ test.waived|yesno("🚧,  ") }}{{ test.status|status_to_emoji }} {{ test.description }}
            {% endif %}
        {% endfor %}

    {% endfor %}
{% endif %}
{% if revision_data.errored_tests %}
{{ revision_data.errored_tests }}
Aborted tests
-------------
Tests that didn't complete running successfully are marked with ⚡⚡⚡.
If this was caused by an infrastructure issue, we try to mark that
explicitly in the report.

{% endif %}
{% if revision_data.waived_tests %}
Waived tests
------------
Waived tests are marked with 🚧. Such tests are executed but their results
are not taken into account. Tests are waived when their results are not
reliable enough, e.g. when they're just introduced or are being fixed.
{% endif %}
